

.cardFace
 {
     background: white;
     border-radius: 10px;


 }




.cardFormElement .invalidInput { 

  border : 2px solid red;

}

.cardFormElement .validInput { 

  border : 2px solid green;

}



.cardHeader { 

  border-bottom: 1px solid rgba(0,0,0,0.2);   
  /* color: rgba(255,255,255,0.6);*/
  color: rgba(0,0,0,0.6);
  width:100%;
  height: 40px; 
  font-size:16pt;
  line-height: auto; 

  max-height: 40px;
  min-height: 40px;
  font-family: roboto_bc;

  background: rgba(0,0,0,0.1);



}

.cardHeader td { padding: 5px; padding-left:10px; }




.cardContent { 

  font-size:10pt; 
  font-family: roboto_med; 
  text-transform: uppercase;
  overflow: hidden;
 

}




 .cardFooter 
{ 

  border-top: 1px solid rgba(0,0,0,0.2);  
  /* color: rgba(255,255,255,0.6);*/
  color: rgba(0,0,0,0.6);
  width:100%;
  height: 40px; 
  font-size:16pt;
  line-height: auto; 

  max-height: 40px;
  min-height: 40px;
  font-family: roboto_bc;

  background: rgba(0,0,0,0.1);




}


.cardWideButton { 

  width: 100%; 
  background: rgba(255,255,255,0.2);
  color: #999;
  font-size: 15pt;
  text-align: left; 
  padding: 13px; 
  border: none; 
  border-radius: 0px;
  border-bottom: 1px solid #bbb;
  /* text-shadow: 1px 1px 1px rgba(0,0,0,0.4); */ 

}



.cardSearchInput { 

  width: 100%; 
  background: rgba(255,255,255,0.4);
  color: #666;
  font-size: 12pt; 
  padding: 13px; 
  border: none; 
  border-radius: 0px;
  border-bottom: 1px solid #bbb;

}

.cardHelp { 

   font-size: 9pt; 
   text-transform: uppercase;
   margin: 20px;
   padding: 10px;
   background: rgba(0,0,0,0.05);
   text-align: justify; 



}


.cardFormElementContent { 

    background: rgba(0,0,0,0.1);  
    border-radius: 5px; 
    border-top-left-radius:0px; 
    color: #333;
    font-size: 16pt;



}

.cardFormElementDesc { 

  text-align: right; 
  font-size:9pt; 
   color: #666; 
/*   background: rgba(0,0,0,0.1);  
   border-bottom-left-radius:5px; 
   border-bottom-right-radius:5px; */ 
   max-width:50%; 
   width: 50%; 

}

.cardFormElementDescLarge { 

   text-align: right; 
  font-size:12pt; 
   color: #4a4a4a; 
/*   background: rgba(0,0,0,0.1);  
   border-bottom-left-radius:5px; 
   border-bottom-right-radius:5px; */ 
   max-width:50%; 
   width: 50%; 

  
}

.cardFormElementTitle { 

   background: rgba(0,0,0,0.1);  
   border-top-left-radius:8px; 
   border-top-right-radius:8px; 
   display: block;
   font-size:11pt;
   line-height:12pt;
   display:block; text-align:center;
   color: #666;



}

.cardHelp li { 

  padding: 10px; 
  border-bottom: 1px solid rgba(255,255,255,0.5);

}

.cardHelp li:last-child { 

  border: none;

}

.cardListHighlightElement {

  background: rgba(0,0,0,0.05);

/*
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5babc), color-stop(100%,#847777)); 
background: -webkit-linear-gradient(top,  #b5babc 0%,#847777 100%); 
*/ 
}



.cardListElement { 

  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 5px; 
  height: auto;
   /*max-height: 60px;
  min-height: 60px;
  overflow: hidden; */


}

.cardListElement :last-child { 

  border-bottom: none; 
  padding: 5px; 
  height: auto;
   /*max-height: 60px;
  min-height: 60px;
  overflow: hidden; */


}



.cardFormList { 


  width: 100%;
  margin-top: 3px; 
  margin-bottom: 3px; 


}

.cardFormList input { 

  border:none;
  width:100%; 
  background-color: rgba(0,0,0,0);
  font-size:15pt; 
  color: #666;
  border-radius: 5px; 
  font-family: roboto_con, sans-serif;
  padding: 6px 10px 4px 10px;
  text-align:center;
  /*border-bottom: 1px solid rgba(0,0,0,0.4);
  border-left: 1px solid rgba(0,0,0,0.4);*/ 
  border: 1px solid rgba(0,0,0,0.4);




}



.cardFormContainer { 

  margin: 1px; 
  width: 90%;
  margin-top: 10px; 
  margin-bottom: 10px; 
 /* border-radius: 5px;*/ 


}



.cardFormContainer td { 

  padding: 5px; 
}

.cardFormElement { 

 /*  border-bottom: 1px solid rgba(0,0,0,0.1);*/ 

}

.cardFormContainer input { 

  border:none;
  width:100%; 
  background-color: #eee;
  font-size:14pt; 
  line-height:1.8em; 
  color: #333;
  border-radius: 5px; 
  font-family: roboto_con, sans-serif;
  padding: 6px 10px 4px 10px;
  text-align:center;




}

.cardFormContainer input[type=checkbox] {
}

.cardFormContainer textarea { 

  border:none;
  width:100%; 
  background-color: #eee;
  font-size:14pt; 
  line-height:1.8em; 
  color: #333;
  border-radius: 5px; 
  font-family: roboto_con, sans-serif;
  padding: 6px 10px 4px 10px;
  text-align:left;





}

.cardInlay { 

  background-color: #eee;
  font-size:14pt; 
  line-height:1.8em; 
  color: #333;
  border-radius: 8px; 
  padding: 5px; 
    text-align: left; 

}

.cardInlay td { 


  font-size:14pt; 
  color: #333;
  padding: 5px; 
    text-align: left; 

}



.cardInlay input { 

  text-align: left; 


}


.cardFormCompactRow td { 

    padding:0px; 
    text-align:center;
    color: #333; 
    font-size:8pt;


}


.cardFormContainer select { 

    -webkit-appearance: none;
    font-family: roboto_con, sans-serif;
    font-size:20pt;
    line-height:1.8em; 
    background-color: #eee;
    color: #333;
    border: none;
    padding: 6px 10px 4px 10px;
    width:100%; 
    text-align: center; 

}

.cardEmptyElement { 

  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 20px; 
  height: 40px;
  overflow: hidden; 
  font-size:32pt; 
  color: #666;

}

.cardListElement td { 

    color: #666;
}

.cardListElementLarge { 

  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 5px; 
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  overflow: hidden; 
  color: black;


}



.cardListElementSubText { 

   color: rgba(0,0,0,0.3);
   text-transform: uppercase;
   font-size:7pt;
   font-weight: bold;
}

.cardListElementText { 

   color: rgba(0,0,0,0.5);
   text-transform: uppercase;
   font-size:9pt;
 

}

